[submodule "catkin_ws/src/learn_environment"]
	path = catkin_ws/src/learn_environment
	url = git@gitlab.kit.edu:kit/aifb/BIS/kit-bis/robotik/ros-learning-platform/learn-environment-franka-emika-panda.git
